/** GLOBAL SCALING FOR MOBILE DEVICES **/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  width: 100%;
  scroll-behavior: smooth;
}

/** Body Basics **/
body {
  background: linear-gradient(to bottom, #e0e7ff, #85a0f7);
  color: #1f2937;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}

/** Navigation bar **/
.nav-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;
}
.nav-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #374151;
  font-weight: 700;
  font-size: 22px;
  padding: 20px;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.nav-link:hover {
  color: #7c3aed;
  background-color: #e0e7ff;
  border-radius: 5px;
}

/** Responsive Setting for nav-link **/
@media screen and (max-width: 600px) {
  .nav-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
    margin-bottom: 20px;
    width: 100%;
  }
  .nav-link {
    flex-direction: flex;
    text-align: center;
    font-size: clamp(14px, 4vw, 18px);
  }
}

/* Inside Main Section */
.mainbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #faf9ff, #e0e7ff);
  border-radius: 20px;
  padding: 20px;
  max-width: 120vh;
  min-height: 80vh;
  width: 99%;
  margin: 7rem auto;
  box-shadow: 0 20px 40px rgba(red, green, blue, alpha);
  margin-bottom: 10px;
  transition: opacity 0.6s ease;
  opacity: 1;
}
/** Responsive Setting for mainbox **/
@media screen and (max-width: 600px) {
  .mainbox {
    max-width: 120vh;
    min-height: 80vh;
    width: 99%;
    margin: 2rem auto;
  }
}
.main-title {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.avatar {
  display: inline;
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 90%;
  border: 3px solid #9786dd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.title {
  margin-top: 45px;
  text-align: left;
  font-size: 55px;
  font-weight: 300;
  line-height: 1;
}
/** Responsive Setting for title **/
@media screen and (max-width: 600px) {
  .title {
    margin-top: auto;
    text-align: center;
    font-size: 40px;
    line-height: 1;
    margin-bottom: auto;
  }
}

.highlight {
  font-weight: 700;
  color: #7c3aed;
}

.subtitle {
  margin-top: 50px;
  font-size: 21px;
  color: #4b5563;
  max-width: 700px;
  text-align: center;
  margin-bottom: 15vh;
}
/** Responsive Setting for subtitle **/
@media screen and (max-width: 600px) {
  .subtitle {
    margin-top: 0;
    font-size: 18px;
    text-align: center;
    padding: 25px;
    margin-bottom: 5vh;
  }
}

.highlight-dark {
  font-weight: 600;
  color: #1f2937;
}

/* SETUP for SCROLL DOWN */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
.scroll-hint {
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  color: #4b5563;
  opacity: 75%;
  animation: bounce 2s infinite;
}
/** Responsive Setting for scroll-hint **/
@media screen and (max-width: 600px) {
  .scroll-hint {
    font-size: 20px;
  }
}

/*ABOUT SECTION*/
.about {
  flex-direction: column;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #faf9ff, #e0e7ff);
  border-radius: 20px;
  padding: 70px;
  max-width: 120vh;
  min-height: 60vh;
  width: 99%;
  margin: 20px auto;
  box-shadow: 0 20px 40px rgba(red, green, blue, alpha);
  opacity: 0.6;
  transition: 0.6s ease;
}

.about-title {
  margin-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
  font-size: 40px;
  margin-bottom: 10px;
}
.about-title-dot {
  font-size: 40px;
  color: #7c3aed;
  font-weight: 800;
}
.about-description {
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
  font-size: 18px;
  color: #4b5563;
}

/** Responsive Setting ABOUT ME **/
@media screen and (max-width: 600px) {
  .about-title {
    padding-left: 5px;
    text-align: left;
    font-size: 35px;
  }
  .about-description {
    padding-left: 5px;
    padding-right: 5px;
    text-align: left;
    font-size: 16px;
  }
}

/* FOOTER */
.copyright {
  text-align: center;
  font-size: 15px;
}
