/** CSS Framework**/
:root {
  --main-bg-color: linear-gradient(to bottom, #cce3de, #a4c3b2);
  --section-bg-color: linear-gradient(to right, #f6fff8, #cce3de);
  --hightlight-color: #52796f;
  --subtext-color: #4b5563;
  --hover-bg-color: #f6fff8;
  --main-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/** GLOBAL SCALING FOR MOBILE DEVICES **/
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  width: 100%;
  scroll-behavior: smooth;
}

/** Body Basics **/
body {
  background: var(--main-bg-color);
  position: relative;
  z-index: 1;
  color: #1f2937;
  margin: 0;
  padding: 0;
  font-family: var(--main-font-family);
  scroll-behavior: smooth;
}
/**Overlay Background Image SVG **/
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("images/circuit.svg");
  background-repeat: repeat;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
  pointer-events: none;
}
/** Navigation bar **/
.nav-bar {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  margin-bottom: 20px;
}
.nav-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-decoration: none;
  color: #374151;
  font-weight: 700;
  font-size: clamp(18px, 3vw, 22px);
  padding: 20px;
  transition: color 0.2s ease, background-color 0.2s ease;
}
.nav-link:hover {
  color: var(--hightlight-color);
  background-color: var(--hover-bg-color);
  border-radius: 5px;
}

/* Inside Main Section */
.mainbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--section-bg-color);
  border-radius: 20px;
  padding: 20px;
  max-width: 1100px;
  min-height: 780px;
  width: 95%;
  margin: 7rem auto 10px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  transition: opacity 0.6s ease;
  opacity: 1;
}
.main-title {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.avatar {
  display: inline;
  width: 190px;
  height: auto;
  margin-bottom: 10px;
  border-radius: 90%;
  border: 3px solid var(--hightlight-color);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.title {
  margin-top: 45px;
  text-align: left;
  font-size: clamp(42px, 4vw, 55px);
  font-weight: 300;
  line-height: 1;
}

.highlight {
  font-weight: 700;
  color: var(--hightlight-color);
}

.subtitle {
  margin-top: 50px;
  font-size: clamp(18px, 3vw, 21px);
  color: var(--subtext-color);
  max-width: 700px;
  text-align: center;
  margin-bottom: 15vh;
}

/* SETUP for SCROLL DOWN */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
.scroll-hint {
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
  color: var(--subtext-color);
  opacity: 75%;
  animation: bounce 2s infinite;
}

/*ABOUT SECTION*/
.about {
  flex-direction: column;
  align-items: center;
  background: var(--section-bg-color);
  border-radius: 20px;
  padding: 70px;
  max-width: 1100px;
  min-height: 780px;
  width: 95%;
  margin: 20px auto;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  opacity: 0.6;
  transition: 0.6s ease;
}

.about-title {
  margin-top: 25px;
  padding-inline: 40px;
  text-align: left;
  font-size: 40px;
  margin-bottom: 10px;
  position: relative;
}
.about-title::after {
  content: "";
  position: absolute;
  left: 40px; /* aligns with padding */
  bottom: -5px; /* space below text */
  width: 275px; /* short line */
  height: 2px; /* thickness */
  background: linear-gradient(to right, #006241, #f9d423); /* line color */
}

.about-title-hl {
  font-size: 40px;
  color: var(--hightlight-color);
  font-weight: 800;
}
.about-description {
  padding-inline: 35px;
  text-align: justify;
  font-size: 17px;
  word-spacing: -1px;
  color: var(--subtext-color);
}

.about-list {
  color: var(--subtext-color);
  padding-inline: 30px;
  line-height: 1.6;
  font-size: 16px;
  text-align: left;
}

.about-tools {
  margin-top: 15px;
  padding-inline: 40px;
  text-align: left;
  font-size: 30px;
  margin-bottom: 10px;
}
.about-tools-hl {
  font-size: 30px;
  color: var(--hightlight-color);
  font-weight: 800;
}

/** Carousel Section **/
.carousel-container {
  position: relative;
  width: 85%;
  max-width: 500px; /* 4 visible icons */
  margin: auto;
  overflow: hidden;
}
@media screen and (max-width: 615px) {
  .carousel-container {
    min-width: 200px;
  }
}
.carousel-track {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.carousel-slide {
  flex: 0 0 25%; /* 4 visible items */
  padding: 10px;
  box-sizing: border-box;
}

.carousel-slide img {
  max-height: 80px;
  width: 100%;
  object-fit: contain;
  transition: transform 0.3s;
}

.carousel-slide img:hover {
  transform: scale(1.2);
}

/** Arrow btn Setting - Carousel Section **/
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}
.arrow-left {
  left: 0;
}

.arrow-right {
  right: 0;
}
@media screen and (max-width: 615px) {
  .arrow {
    font-size: 15px;
    padding: 2px;
  }
  .carousel-container {
    min-width: 200px;
  }
}
/**MY PROJECT SECTION**/
.project {
  flex-direction: column;
  align-items: center;
  background: var(--section-bg-color);
  border-radius: 20px;
  padding: 70px;
  max-width: 1100px;
  min-height: 780px;
  width: 95%;
  margin: 20px auto;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  opacity: 0.6;
  transition: 0.6s ease;
}

.project-title {
  margin-top: 15px;
  padding-inline: 40px;
  text-align: left;
  font-size: 40px;
  margin-bottom: 10px;
  position: relative;
}
.project-title::after {
  content: "";
  position: absolute;
  left: 40px; /* aligns with padding */
  bottom: -5px; /* space below text */
  width: 275px; /* short line */
  height: 2px; /* thickness */
  background: linear-gradient(to right, #006241, #f9d423); /* line color */
}

.project-title-hl {
  font-size: 40px;
  color: var(--hightlight-color);
  font-weight: 800;
}

/* Project Gallery Section */
.project-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding-top: 20px;
  padding-left: 20px;
}
.project-card {
  width: 280px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
  background-color: white;
}

.project-card:hover {
  transform: translateY(-5px);
}

.card-img {
  width: 100%;
  height: 160px;
  object-fit: scale-down;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}

.project-card:hover .card-img {
  filter: grayscale(0%);
}

.card-body {
  padding: 15px;
  text-align: center;
}

.card-title {
  margin-top: -10px;
  font-size: 19px;
  font-weight: bold;
}

.card-text {
  margin: 10px 0;
  font-size: 16px;
  color: #444;
  text-align: center;
}

.card-button {
  display: inline-block;
  padding: 8px 14px;
  background-color: var(--hightlight-color);
  color: white;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.card-button:hover {
  background-color: #62887e;
}

/* FOOTER */
.copyright {
  text-align: center;
  font-size: 13px;
  color: var(--subtext-color);
  font-family: "Lucida Sans";
  letter-spacing: 2px;
  user-select: none;
}

/** RESPONSIVE SETTING SECTION (FOR DEVICES WIDTH SMALLER THAN 615px**/
/** Responsive Setting for nav-bar and nav-link**/
@media screen and (max-width: 615px) {
  .nav-bar {
    display: flex;
    flex-wrap: nowrap;
    gap: 0;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  .nav-link {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: clamp(13px, 4vw, 18px);
  }
}
/** Responsive Setting for main title and subtitle **/
@media screen and (max-width: 615px) {
  .mainbox {
    min-width: 280px;
    min-height: 600px;
    margin: 2rem auto;
  }
  .title {
    margin-top: auto;
    text-align: center;
    font-size: clamp(35px, 4vw, 40px);
    line-height: 1;
    margin-bottom: auto;
  }
  .subtitle {
    margin-top: 0;
    font-size: clamp(16px, 4vw, 18px);
    text-align: center;
    padding: 25px;
    margin-bottom: 5vh;
  }
  .avatar {
    width: 200px;
    height: auto;
  }
}

.highlight-dark {
  font-weight: 600;
  color: #1f2937;
}

/** Responsive Setting for scroll-hint **/
@media screen and (max-width: 615px) {
  .scroll-hint {
    font-size: 20px;
  }
}

/** Responsive Setting ABOUT ME **/
@media screen and (max-width: 615px) {
  .about {
    min-width: 280px;
    margin: 2rem auto;
  }
  .about-title {
    padding-left: 5px;
    font-size: clamp(25px, 4vw, 35px);
  }
  .about-title::after {
    left: 5px;
    bottom: -5px;
    width: 65%;
    height: 2px;
  }

  .about-title-hl {
    font-size: clamp(25px, 4vw, 35px);
  }
  .about-description {
    padding-inline: 5px;
    font-size: clamp(13px, 4vw, 16px);
    text-align: left;
  }
  .about-list {
    font-size: clamp(12px, 4vw, 15px);
    padding-left: 5px;
    text-align: left;
  }

  .about-tools {
    margin-top: -15px;
    padding-left: 5px;
    font-size: clamp(18px, 4vw, 28px);
  }
  .about-tools-hl {
    font-size: clamp(18px, 4vw, 32px);
    font-weight: 800;
  }
}

/** Responsive Setting for MY PROCJECT **/
@media screen and (max-width: 615px) {
  .project {
    min-width: 280px;
    margin: 2rem auto;
  }
  .project-title {
    padding-left: 5px;
    font-size: clamp(25px, 4vw, 35px);
  }
  .project-title::after {
    left: 5px;
    bottom: -5px;
    width: 65%;
    height: 2px;
  }

  .project-title-hl {
    font-size: clamp(25px, 4vw, 35px);
  }
  .card-img {
    max-height: 130px;
  }
  .card-body {
    width: 100%;
  }

  .card-title {
    margin-top: -10px;
    font-size: clamp(15px, 4vw, 16px);
  }

  .card-text {
    margin-top: -10px;
    font-size: clamp(13px, 3vw, 16px);
  }

  .card-button {
    font-size: clamp(13px, 2vw, 16px);
  }
  .copyright {
    min-width: 280px;
  }
}
